@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-futura-pt);
}

@layer base {
  :root {
    --darkGreen: #16240d;
    --lightGreen: #b6f4d0;
    --midGreen: #739a88;
    --textDark: #1e1e1e;
    --background: #fcfffe;

    --greenGradientColor1: #15d866;
    --greenGradientColor2: #079844;

    --success5: #f0fdf4;
    --success50: #22c55e;
    --destructive5: #fff1f2;
    --destructive50: #f43f5e;
    --warning5: #fffbeb;
    --warning50: #f59e0b;
    --brand5: #eef2ff;
    --brand50: #4f46e5;

    --gray5: #f8fafc;
    --gray10: #f6f6f6;
    --gray20: #e2e8f0;
    --gray30: #cbd5e1;
    --gray40: #94a3b8;
    --gray60: #475569;
    --gray80: #1e293b;
    --gray200: #e3e8ef;
    --gray300: #f4f7fe;
    --gray500: #e0e5f2;
    --gray600: #a3aed0;
    --gray900: #111729;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.react-international-phone-input {
  width: 100% !important;
  height: 100% !important;
  padding: 12px 16px !important;
  border: none !important;
  border-radius: 0 50px 50px 0 !important;
  color: var(--gray60) !important;
  font-size: 1rem /* 16px */ !important;
  line-height: 1.5rem /* 24px */ !important;
}
.react-international-phone-input--disabled {
  background-color: white !important;
  cursor: not-allowed;
}

.react-international-phone-country-selector {
  height: 100% !important;
}

button.react-international-phone-country-selector-button {
  height: 100%;
  background-color: var(--gray5);
  border: none;
  border-right: 1px solid #ccc;
  border-radius: 50px 0 0 50px !important;
  padding: 12px;
}
button.react-international-phone-country-selector-button--disabled {
  opacity: 1;
  cursor: not-allowed;
}

.react-international-phone-country-selector-dropdown {
  position: absolute !important;
  outline: none !important;
  border-radius: 12px;
}

img.react-international-phone-flag-emoji.react-international-phone-country-selector-button__flag-emoji {
  margin: 0px;
  width: 30px !important;
  height: 30px !important;
  clip-path: circle(35.7% at 50% 50%);
}
img.react-international-phone-flag-emoji.react-international-phone-country-selector-button__flag-emoji--disabled {
  opacity: 1;
}

.react-international-phone-country-selector-button__dropdown-arrow {
  border: none !important;
  width: 28px;
  height: 24px;
  background: url("/icons/chevron-down.svg") center center/cover no-repeat;
  margin-left: 6px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
